<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "layout/basic.html" %}
    {% block title %}Ошибка при активации{% endblock %}

    {% block content %}
    <h2>Активация</h2>
    <p>Активация пользователя с таким именем прошла неудачно.</p>
    <p><a href="{% url 'main:register' %}">Зарегистрироваться повторно</a></p>
    {% endblock %}
</body>
</html>